{% extends 'base.html.twig' %}

{% block title %}Bitchest{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100" style="flex-direction:column;">
        <div class="row"><img src="{{asset('/images/logoBitchestlightinline.png')}}" alt="" class="logo-primary-1"></div>
        <div class="row text-center"><h2 class="logo-text"> WELCOME TO BITCHEST</h2></div>
        <div class="row text-center">
        <h4 class="text-secondary">Tangible ownership of cryptocurrencies. Immersive Web3 experiences</h4>
        </div><hr>
       <a href="{{path('app_register')}}"><button class="btn btn-primary">Get started !</button></a>
       <hr>
       <p class="text-light">By tapping “Get Started” you agree and consen to our</p>
       <a href="#" class="a-primary">Terms of Services and Privact Policy</a>
</div>
{% endblock %}
