{% extends 'base.html.twig' %}

{% block title %}CRYPTOWALLET{% endblock %}

{% block body %}
{# {% include 'partials/loader.html.twig' %} #}
<div class="container d-flex justify-content-center align-items-center vh-100" style="flex-direction:column;">
        <div class="container p-3 d-flex flex-column justify-content-center align-items-center">
                <hr>
                <img src="{{asset('/images/logoBitchestlightinline.png')}}" alt="" class="logo-primary-1">
                <div class="row text-center"><h2 class="logo-text"> WELCOME TO CRYPTOWALLET</h2></div><hr>
                <div class="row text-center">
                <h4 class="text-white" style="margin-bottom: 30px;">Tangible ownership of cryptocurrencies. Immersive Web3 experiences</h4>
                </div>
                <a href="{{path('app_register')}}"><button class="btn btn-primary">Get started !</button></a>
                <hr>
                <p class="text-light text-center">By tapping “Get Started” you agree and consent to our</p>
                <a href="#" class="a-primary">Terms of Services and Privact Policy</a>
        </div>
</div>

{% endblock %}
