<div class="col-xl-12">
    <div class="mb-4">
    <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center">
        <a href="{{path('transaction.send')}}" class="menu-link">
            <button class="btn btn-secondary">
                <i class='me-2 bx bxs-up-arrow-circle'></i>
                <div>Send</div>
            </button>
        </a>
       
        <a href="{{path('transaction.receive')}}" class="menu-link">
            <button class="btn btn-secondary">
                <i class='bx bxs-down-arrow-circle me-2'></i>
                <div>Receive</div>
            </button>
        </a>
        </button>
        <a href="{{path('transaction.buy')}}" class="menu-link ">
            <button class="btn btn-secondary">
            <i class='bx bx-trending-up me-2'></i>
            <div>Buy</div>
            </button>
        </a>
        <a href="{{path('transaction.sell')}}" class="menu-link ">
            <button class="btn btn-secondary">
            <i class='bx bx-trending-down me-2'></i>
            <div>Sell</div>
            </button>
        </a>
    </div>
</div>
</div>
