<div class="card p-4">
<div>
    <div class="col">
        <div class="card-body d-flex justify-content-center flex-column">
            <div class="d-flex mb-3 p-2 justify-content-between">
                <p><strong class="text-secondary w-px-50">Crypto card</strong></p>
            </div>
            <div class="container-fluid d-flex justify-content-center mb-3">
                <div class="cardcrypto">
                    <div class="div-back col-12"></div>   
                    <div class="div-front col-12">
                        <div class="m-3">
                            <strong class="cardcrypto-text">Total Balance</strong>
                            <p class="cardcrypto-text">€{{app.user.balance}}</p>
                            <p class="cardcrypto-text">*** *** *** ***</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
