<div class="col-lg-6 my-4">
    <h6 class="text-muted">Welcome to bitchest</h6>
    <div
    id="carouselExample-cf"
    class="carousel carousel-dark slide carousel-fade"
    data-bs-ride="carousel"
    >
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExample-cf" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExample-cf" data-bs-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% include 'partials/cardcrypto.html.twig' %}
        </div>
        <div class="carousel-item">
            {% include 'partials/cardstatbalance.html.twig' %}
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample-cf" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample-cf" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
    </div>
</div>