{% for type,  messages in app.flashes %}
<div
    class="bs-toast w100 my-2 toast fade show bg-{{type}}"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <div class="toast-header">
        <i class="bx bxs-bell me-2"></i>
        <div class="me-auto fw-semibold">Succesfull &#128521</div>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{messages | join ('. ')}}
    </div>
</div>
{% endfor %}