<div class="layout-page bg-alternative1">
    <!-- Navbar -->
    {% include 'partials/navbar.html.twig' %}
    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
         <div class="col-12">
          {% include 'partials/flashes.html.twig' %}
         </div>
        {% if app.current_route == 'accueil' %}
            {# cardcrypto #}
            {% include 'partials/carrousselbalance.html.twig' %}
            {% include 'partials/tabscrypto.html.twig' %}
            {# cardcrypto #}
        {% endif %}
        {% if app.current_route == 'setting.profile' %}
          {% include 'user/profile.html.twig'%}
        {% endif %}
        {% if app.current_route == 'setting.security' %}
          {% include 'user/security.html.twig'%}
        {% endif %}
        {% if app.current_route == 'setting.editCustomer' %}
          {% include 'admin/customer/editCustomerlayout.html.twig'%}
        {% endif %}
        {% if app.current_route == 'setting.deleteCustomer' %}
          {% include 'admin/customer/deleteCustomerlayout.html.twig'%}
        {% endif %}
        {% if app.current_route == 'setting.customer' %}
          {% include 'admin/customer/manageCustomer.html.twig'%}
        {% endif %}
        </div>
    </div>
    <!-- / Content -->

    <!-- Footer -->
    {% include 'partials/footer.html.twig' %}
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
</div>