<ul class="p-0 m-0">
<li class="d-flex mb-4 pb-1">
    <div class="avatar flex-shrink-0 me-3">
    <span class="avatar-initial rounded bg-label-primary"
        ><i class="bx bx-mobile-alt"></i
    ></span>
    </div>
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
    <div class="me-2">
        <h6 class="mb-0">Electronic</h6>
        <small class="text-muted">Mobile, Earbuds, TV</small>
    </div>
    <div class="user-progress">
        <small class="fw-semibold">82.5k</small>
    </div>
    </div>
</li>
</ul>