.formulaire{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #7cc1f96d;
    box-shadow: 0px 0px 10px black;
    width: 280px;
    color: white;
    background-color: #050b1bd6;
    font-size: 12px;
}
.formulaire input{
    color: #608199;
    padding: 10px;
    width:100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.436);
    font-size: 12px;
}
.formulaire input:hover{
    border: none !important;
}
.formulaire input:focus{
    outline: none !important;
    background-color: rgba(0, 0, 0, 0.436) !important;
    color: #608199 !important;
}
.formulaire input[type="checkbox"] {
    border: none;
    border-radius: 5px;
    width: 15px;
    margin-right: 5px;
  }
  .formulaire input::placeholder {
   color: #608199;
  }
.formulaire .btn{
    width: 100% !important;
    margin-top: 5px;
}
body{
    cursor:url('/assets/images/cursor.png'),auto;
    background: #050b1b;
    font-family:"poppins",sans-serif;
}
.body-gradian{
    
    width: 100vw !important;
    height: 100vh !important;
    background: linear-gradient(200.19deg, #050B1B -15.69%, #FFFFFF -3.27%, rgba(3, 116, 124, 0.765) -1.03%, #38618C 32.9%, rgba(55, 118, 175, 0.699185) 56.25%, rgba(53, 167, 255, 0) 110.52%);
}
.btn{
    height: 50px !important;
}
.btn-primary{
    border: none;
    background-color: #35A7FF !important;
    font-size: 12px;
}
.a-primary{
    text-decoration: none;
    color:#35A7FF;
    font-weight: bold;
}
.bg-primary{
    background-color: #35A7FF;
}
.bg-secondary{
    background-color:#38618C;
}
.a-secondary{
    text-decoration: none;
    color:#38618C;
    font-weight: bold;
}
.btn-secondary{
    border: none;
    background-color: #38618C !important;
    font-size: 12px;

}
.logo-primary-1{
    width: 150px;
    height: auto;
}
.logo-primary-2{
    width: 100px;
    height: auto;
}
.logo-text{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
.text-dark{
    color: black !important;
}
.text-primary{
    color: #35A7FF !important;
}
.text-secondary{
    color: #38618C !important;
}
