.cardcrypto {
    position: relative;
    width: 280px; /* Largeur de votre conteneur */
    height: 159px; /* Hauteur de votre conteneur */
}

.div-back {
    position: absolute;
    border-radius: 10px;
    height: 150px;
    background: #35A7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transform: matrix(-0.99, 0.16, -0.21, -0.98, 0, 0);
}

.div-front {
    position: absolute;
    border-radius: 20px;
    height: 150px; /* Hauteur de la div avant */
    background-image: url('/assets/images/cardcrypto.png');
    background-size: cover;
    background-position: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardcrypto-text{

font-style: normal;
font-weight: 700;
line-height: 30px;
color: #FFFFFF;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

}

