<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="{{asset('images/logoBitchestlight.png')}}" alt="" class="logo-primary-3">
              </span>
              <span class=" text-primary fw-bolder ms-2">BITCHEST</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>
          <hr>
          <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
              <!-- Dashboard -->
              <li class="menu-item ">
                <a href="index.html" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div>Dashboard</div>
                </a>
              </li>
              {# settings #}
              <li class="menu-item active">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon bx bx-slider-alt m-1'></i>  
                  <div>Settings</div>
                </a>

                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="layouts-without-menu.html" class="menu-link ">
                      <i class='bx bx-id-card me-2'></i>
                      <div>Profile</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="layouts-without-navbar.html" class="menu-link">
                      <i class='me-2 bx bx-group'></i>
                      <div>Customer</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="layouts-container.html" class="menu-link">
                      <i class='me-2 bx bx-transfer-alt'></i>
                      <div "Container">Langage</div>
                    </a>
                  </li>
            </ul>
        </aside>