<div class="col-lg-8 mb-4 order-0">
            <div class="card">
            <div>
                <div class="col">
                    <div class="card-body d-flex justify-content-center">
                        <div class="cardcrypto ">
                            <div class="div-back col-12"></div>
                            <div class="div-front col-12"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
