{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    {% include 'partials/flashes.html.twig' %}
    <h1>Accueil✅</h1>
    <a href="{{path('app_logout')}}" class="a-primary">Logout</a>
</div>
{% endblock %}
