<div class="layout-page bg-gradian">
    <!-- Navbar -->
    {% include 'user/navbar.html.twig' %}
    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
        {# cardcrypto #}
            {% include 'user/cardcrypto.html.twig' %}
        {# cardcrypto #}
        <!-- Transactions -->
        {% include 'user/transaction.html.twig'%}
        <!--/ Transactions -->
        </div>
    </div>
    <!-- / Content -->

    <!-- Footer -->
    {% include 'user/footer.html.twig' %}
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
</div>